<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HackMaster Pi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
        <meta name="theme-color" content="#0f0f17">
    </head>
    <body>
        <div class="container">
            <img src="{{ url_for('static', path='/img/PNG-Text-Dark.png') }}" alt="Logo" class="logo" />
            <p>IP: {{ ip_addr }}</p>
            <h2>Bluetooth</h2>
            <div class="card-container">
                <div class="card">
                    <a href="/BLE/beacon-scanner"><h3>Beacon Scanner</h3></a>
                    <p>Scan to list nearby Beacon devices</p>
                </div>
                <div class="card">
                    <a><h3>Beacon Emulator</h3></a>
                    <p>Emulate Beacon UUID</p>
                </div>
                <div class="card">
                    <a href="/BLE/airpods-emulator"><h3>Airpods Emulator</h3></a>
                    <p>Emulate Apple device (Airpods)</p>
                </div>
            </div>
            <h2>Wi-Fi</h2>
            <div class="card-container">
                <div class="card">
                    <a><h3>AP Emulator</h3></a>
                    <p>Emulate mutiple AP</p>
                </div>
                <div class="card">
                    <a><h3>Wi-Fi Scanner</h3></a>
                    <p>Scan to list nearby Wi-Fi networks</p>
                </div>
                <div class="card">
                    <a><h3>Wi-Fi Password Cracker</h3></a>
                    <p>Crack Wi-Fi password using wordlist</p>
                </div>
                <div class="card">
                    <a href="/WiFi/wordlist-generator"><h3>Password Wordlist Generator</h3></a>
                    <p>Customizable password wordlist generator</p>
                </div>
                <div class="card">
                    <a><h3>ARP Spoofing</h3></a>
                    <p>MiTM through ARP spoofing</p>
                </div>
            </div>
            <h2>Infrared (IR)</h2>
            <div class="card-container">
                <div class="card">
                    <a><h3>Signal Learning</h3></a>
                    <p>Clone infrared remote control signal</p>
                </div>
                <div class="card">
                    <a><h3>Signal Enumerator</h3></a>
                    <p>Enumerate infrared code to brute force devices</p>
                </div>
            </div>
            <h2>RFID</h2>
            <div class="card-container">
                <div class="card">
                    <a><h3>RFID Learner</h3></a>
                    <p>Learn RFID card data</p>
                </div>
                <div class="card">
                    <a><h3>RFID Writer</h3></a>
                    <p>Write data to RFID card</p>
                </div>
                <div class="card">
                    <a><h3>RFID Emulator</h3></a>
                    <p>Emulate RFID card</p>
                </div>
            </div>
            <h2>USB</h2>
            <div class="card-container">
                <div class="card">
                    <a><h3>BadUSB</h3></a>
                    <p>USB Keystroke Injection Attack</p>
                </div>
                <div class="card">
                    <a><h3>USB MiTM</h3></a>
                    <p>Keyboard input MiTM</p>
                </div>
            </div>

            <footer class="footer">
                <div class="disclaimer">
                    <h3>DISCLAIMER</h3>
                    <p>This tool is provided for educational and security research purposes only.</p>
                    <p>The user assumes all responsibility for the use of this tool.</p>
                    <p>Unauthorized access to computer systems and networks is illegal.</p>
                    <p>DO NOT use this tool for any illegal, unauthorized, or malicious activities.</p>
                </div>
            </footer>
        </div>
    </body>
</html>